/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* common styles  */
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
    
}
.honda-btn{
    background: #E76F51;
    /* padding: 10px 24px; */
}
.honda-btn:hover{
    background: #ee5253;
}
.honda-btn:focus{
    background: #ee5253;
}
/* header section  */
header{
    background: #264653;
}
/* feature bike section  */
.colored-text{
    color: #E76F51;
}
.feature-bike-section span{
    position: relative;
}
.feature-bike-section span::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 48%;
    width: 65px;
    height: 1px;
    background: #E76F51;
}

.gray-scale{
    filter: grayscale(1);
}

/* latest news section  */
.honda-card-title{
    font-size: 28px;
    color: #18191F;
}
.honda-outline-btn{
    background: transparent;
    border: 1px solid #E76F51;
    color: #E76F51;
}
.honda-outline-btn:hover{
    background: #E76F51;
    color: #fff;
}

/* testimonial section  */
.testimonial-item, .awarda-item{
    border: 1px solid #DEDEDE;
}
.feedback p{
    color: #6C6C6C;    ;
}
.author-detai p{
    color: #252B42;
}

/* achivements section  */
.achivements-section span{
    position: relative;
}
.achivements-section span::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 48%;
    width: 65px;
    height: 1px;
    background: #E76F51;
}


/* footer section  */
footer{
    background: #0B0D17;
}
.footer-section h4{
    color: #D9DBE1;
}
.download-btn{
    border: 1px solid #ddd;

}
.copyright p{
    color: #D9DBE1;
}